<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8" />

    <meta name="generator" content="Hugo 0.112.3"><meta name="theme-color" content="#fff" />
    <meta name="color-scheme" content="light dark">

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />
    
    <meta http-equiv="Cache-Control" content="no-transform" />
    
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>Week 14b. Hypothesis Testing II: Z, t and approximately Z | Stat 2023</title>

    <link rel="stylesheet" href="/stat23/css/meme.min.21d090babe38ec6e5e83b6b1417c76df8072fac00bb8567a38d6830adc09ca44.css"/>

    
    
        <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js" defer></script><script src="/stat23/js/meme.min.156b0ebb85d95e662830dc98e9f131546bfbd41ea25baf33360a539908411c15.js"></script>

    

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM&#43;Plex&#43;Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source&#43;Code&#43;Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap" media="print" onload="this.media='all'" />
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM&#43;Plex&#43;Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source&#43;Code&#43;Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap" /></noscript>

    <meta name="author" content="Kno Tsao" /><meta name="description" content="異之同 同之異 接下來要介紹的三個檢定可以說是極具代表性的檢定，乍看之下好像各不相同而雜亂，但其實有共同或類似之處。看清楚什麼相同，哪些不一樣，另外有些差不多，他們就是多而一，一而多，亂中有序而自有系統。提示幾個異同的重點
同 都是檢定 population mean $E(X_i)$, normal 時 $\mu$，Bernoulli 時 p 檢定量都是 $\frac{|\bar{X}- E(\bar{X})|}{\sqrt{Var(\bar{X})}}$ 的變形 檢定量的分子部份都相當直覺: $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 值越大當然表示 $H_0$ 越不太可能是對的。 分子部份 $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 是在一般測量的尺度下的差異；除上分母之後的檢定量是在 標準常態 尺度上的差異 異 檢定量分母 $Var(\bar{X})$ 處理不同 Under $H_0,$ 檢定量分配不同。依序為 $Z, t_{{n-1}}$ and approximately $Z$." />

    <link rel="shortcut icon" href="/stat23/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/stat23/icons/safari-pinned-tab.svg" color="#2a6df4" />
    <link rel="apple-touch-icon" sizes="180x180" href="/stat23/icons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Stat 2023" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Stat 2023" />
    <meta name="msapplication-starturl" content="../../../" />
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="../../../icons/mstile-150x150.png" />
    <link rel="manifest" href="/stat23/manifest.json" />

    
    

    
    <link rel="canonical" href="https://chtsao.gitlab.io/stat23/posts/w14b/" />
    

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "datePublished": "2023-05-17T07:27:56+08:00",
        "dateModified": "2023-05-17T07:29:27+08:00",
        "url": "https://chtsao.gitlab.io/stat23/posts/w14b/",
        "headline": "Week 14b. Hypothesis Testing II: Z, t and approximately Z",
        "description": "異之同 同之異 接下來要介紹的三個檢定可以說是極具代表性的檢定，乍看之下好像各不相同而雜亂，但其實有共同或類似之處。看清楚什麼相同，哪些不一樣，另外有些差不多，他們就是多而一，一而多，亂中有序而自有系統。提示幾個異同的重點\n同 都是檢定 population mean $E(X_i)$, normal 時 $\\mu$，Bernoulli 時 p 檢定量都是 $\\frac{|\\bar{X}- E(\\bar{X})|}{\\sqrt{Var(\\bar{X})}}$ 的變形 檢定量的分子部份都相當直覺: $|\\hat{\\mu} - \\mu_0|$ or $|\\hat{p} - p_0|$ 值越大當然表示 $H_0$ 越不太可能是對的。 分子部份 $|\\hat{\\mu} - \\mu_0|$ or $|\\hat{p} - p_0|$ 是在一般測量的尺度下的差異；除上分母之後的檢定量是在 標準常態 尺度上的差異 異 檢定量分母 $Var(\\bar{X})$ 處理不同 Under $H_0,$ 檢定量分配不同。依序為 $Z, t_{{n-1}}$ and approximately $Z$.",
        "inLanguage" : "en",
        "articleSection": "posts",
        "wordCount":  363 ,
        "image": ["https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png"],
        "author": {
            "@type": "Person",
            "description": "Life is short, play it hard",
            "image": "https://chtsao.gitlab.io/icons/apple-touch-icon.png",
            "url": "https://chtsao.gitlab.io/stat23/",
            "name": "Kno Tsao"
        },
        "license": "[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en)",
        "publisher": {
            "@type": "Organization",
            "name": "Stat 2023",
            "logo": {
                "@type": "ImageObject",
                "url": "https://chtsao.gitlab.io/icons/apple-touch-icon.png"
            },
            "url": "https://chtsao.gitlab.io/stat23/"
        },
        "mainEntityOfPage": {
            "@type": "WebSite",
            "@id": "https://chtsao.gitlab.io/stat23/"
        }
    }
</script>

    

<meta name="twitter:card" content="summary_large_image" />


<meta name="twitter:site" content="@reuixiy" />

    



<meta property="og:title" content="Week 14b. Hypothesis Testing II: Z, t and approximately Z" />
<meta property="og:description" content="異之同 同之異 接下來要介紹的三個檢定可以說是極具代表性的檢定，乍看之下好像各不相同而雜亂，但其實有共同或類似之處。看清楚什麼相同，哪些不一樣，另外有些差不多，他們就是多而一，一而多，亂中有序而自有系統。提示幾個異同的重點
同 都是檢定 population mean $E(X_i)$, normal 時 $\mu$，Bernoulli 時 p 檢定量都是 $\frac{|\bar{X}- E(\bar{X})|}{\sqrt{Var(\bar{X})}}$ 的變形 檢定量的分子部份都相當直覺: $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 值越大當然表示 $H_0$ 越不太可能是對的。 分子部份 $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 是在一般測量的尺度下的差異；除上分母之後的檢定量是在 標準常態 尺度上的差異 異 檢定量分母 $Var(\bar{X})$ 處理不同 Under $H_0,$ 檢定量分配不同。依序為 $Z, t_{{n-1}}$ and approximately $Z$." />
<meta property="og:url" content="https://chtsao.gitlab.io/stat23/posts/w14b/" />
<meta property="og:site_name" content="Stat 2023" />
<meta property="og:locale" content="en" /><meta property="og:image" content="https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png" />
<meta property="og:type" content="article" />
    <meta property="article:published_time" content="2023-05-17T07:27:56&#43;08:00" />
    <meta property="article:modified_time" content="2023-05-17T07:29:27&#43;08:00" />
    
    <meta property="article:section" content="posts" />



    
    

    
</head>

    <body>
        <div class="container">
            
    <header class="header">
        
            <div class="header-wrapper">
                <div class="header-inner single">
                    
    <div class="site-brand">
        
            <a href="/stat23/" class="brand">Stat 2023</a>
        
    </div>

                    <nav class="nav">
    <ul class="menu" id="menu">
        
            
        
        
        
        
            
                <li class="menu-item active"><a href="/stat23/posts/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon archive"><path d="M32 448c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V160H32v288zm160-212c0-6.6 5.4-12 12-12h104c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-8zM480 32H32C14.3 32 0 46.3 0 64v48c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16V64c0-17.7-14.3-32-32-32z"/></svg><span class="menu-item-name">Posts</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/stat23/categories/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon th"><path d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"/></svg><span class="menu-item-name">Categories</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/stat23/tags/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="icon tags"><path d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a48 48 0 0 0 14.059 33.941l211.882 211.882c18.744 18.745 49.136 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM112 160c-26.51 0-48-21.49-48-48s21.49-48 48-48 48 21.49 48 48-21.49 48-48 48zm513.941 133.823L421.823 497.941c-18.745 18.745-49.137 18.745-67.882 0l-.36-.36L527.64 323.522c16.999-16.999 26.36-39.6 26.36-63.64s-9.362-46.641-26.36-63.64L331.397 0h48.721a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882z"/></svg><span class="menu-item-name">Tags</span></a>
                </li>
            
        
            
                <li class="menu-item"><a href="/stat23/about/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="icon user-circle"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"/></svg><span class="menu-item-name">About</span></a>
                </li>
            
        
            
                
                    
                    
                        <li class="menu-item">
                            <a id="theme-switcher" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon theme-icon-light"><path d="M193.2 104.5l48.8-97.5a18 18 0 0128 0l48.8 97.5 103.4 -34.5a18 18 0 0119.8 19.8l-34.5 103.4l97.5 48.8a18 18 0 010 28l-97.5 48.8 34.5 103.4a18 18 0 01-19.8 19.8l-103.4-34.5-48.8 97.5a18 18 0 01-28 0l-48.8-97.5l-103.4 34.5a18 18 0 01-19.8-19.8l34.5-103.4-97.5-48.8a18 18 0 010-28l97.5-48.8-34.5-103.4a18 18 0 0119.8-19.8zM256 128a128 128 0 10.01 0M256 160a96 96 0 10.01 0"/></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon theme-icon-dark"><path d="M27 412a256 256 0 10154-407a11.5 11.5 0 00-5 20a201.5 201.5 0 01-134 374a11.5 11.5 0 00-15 13"/></svg></a>
                        </li>
                    
                
            
        
            
                
            
        
            
                <li class="menu-item search-item">
                        <form id="search" class="search" role="search">
    <label for="search-input"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon search-icon"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg></label>
    <input type="search" id="search-input" class="search-input">
</form>

<template id="search-result" hidden>
    <article class="content post">
        <h2 class="post-title"><a class="summary-title-link"></a></h2>
        <summary class="summary"></summary>
        <div class="read-more-container">
            <a class="read-more-link">Read More »</a>
        </div>
    </article>
</template>

                    </li>
                
            
        
    </ul>
</nav>

                    
                </div>
            </div>
            
    <input type="checkbox" id="nav-toggle" aria-hidden="true" />
    <label for="nav-toggle" class="nav-toggle"></label>
    <label for="nav-toggle" class="nav-curtain"></label>


        
    </header>




            
            
    <main class="main single" id="main">
    <div class="main-inner">

        

        <article class="content post h-entry" data-small-caps="true" data-align="default" data-type="posts" data-toc-num="true">

            <h1 class="post-title p-name">Week 14b. Hypothesis Testing II: Z, t and approximately Z</h1>

            

            
                
            

            
                

<div class="post-meta">
    
        
        <time datetime="2023-05-17T07:27:56&#43;08:00" class="post-meta-item published dt-published"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon post-meta-icon"><path d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>&nbsp;2023.5.17</time>
    
    
        
        <time datetime="2023-05-17T07:29:27&#43;08:00" class="post-meta-item modified dt-updated"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon post-meta-icon"><path d="M400 64h-48V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H160V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V160h352v298a6 6 0 0 1-6 6zm-52.849-200.65L198.842 404.519c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.699c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.705 4.636 12.303-.069 16.97z"/></svg>&nbsp;2023.5.17</time>
    
    
    
        
        
        
            
        
    
    
        
        <span class="post-meta-item wordcount"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon post-meta-icon"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>&nbsp;363</span>
    
    
        
        <span class="post-meta-item reading-time"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon post-meta-icon"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"/></svg>&nbsp;2&nbsp;mins</span>
    
    
    
</div>

            

            <div class="post-body e-content">
                <img src="https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png" alt="Compare and Contrast" style="zoom:80%;" />
<h2 id="異之同-同之異"><a href="#異之同-同之異" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>異之同 同之異</h2>
<p style="text-indent:0"><span class="drop-cap">接</span>下來要介紹的三個檢定可以說是極具代表性的檢定，乍看之下好像各不相同而雜亂，但其實有共同或類似之處。看清楚什麼相同，哪些不一樣，另外有些差不多，他們就是多而一，一而多，亂中有序而自有系統。提示幾個異同的重點</p>
<h3 id="同"><a href="#同" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a><strong>同</strong></h3>
<ul>
<li>都是檢定 population mean $E(X_i)$, normal 時 $\mu$，Bernoulli 時 p</li>
<li>檢定量都是 $\frac{|\bar{X}- E(\bar{X})|}{\sqrt{Var(\bar{X})}}$ 的變形</li>
<li>檢定量的分子部份都相當直覺: $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 值越大當然表示 $H_0$ 越不太可能是對的。</li>
<li>分子部份 $|\hat{\mu} - \mu_0|$ or $|\hat{p} - p_0|$ 是在一般測量的尺度下的差異；除上分母之後的檢定量是在 標準常態 尺度上的差異</li>
</ul>
<h3 id="異"><a href="#異" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a><strong>異</strong></h3>
<ul>
<li>檢定量分母 $Var(\bar{X})$ 處理不同</li>
<li>Under $H_0,$ 檢定量分配不同。依序為 $Z, t_{{n-1}}$ and approximately $Z$.</li>
<li>衍伸而來, 對應的 cutoff point 與 level 敘述也不同：依序是 $(z_{\alpha/2}, \alpha),(t_{n-1, \alpha/2}, \alpha) $  以及 Bernoulli case 中的  $z_{\alpha/2}$ 與 approximately $\alpha.$</li>
</ul>
<h2 id="normal-with-known-variance"><a href="#normal-with-known-variance" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>Normal with known variance</h2>
<p>Let $X_1, \cdots, X_n \sim_{iid} N(\mu, \sigma^2)$ with $\mu \in \mathcal{R}$ (unknown) and known $\sigma^2&gt;0.$</p>
<p>For testing $H_0: \mu=\mu_0$ vs. $H_1: \mu \neq \mu_0$</p>
<p>A  (recommended, actually UMPU) level  $\alpha$ test is to</p>
<p>Reject $H_0$ if $\frac{|\bar{X}- \mu_0|}{\sigma/\sqrt{n}} &gt; z_{\alpha/2}$ and claim $H_1$ is supported by data; else</p>
<p>Do not reject $H_0$ if $\frac{|\bar{X}- \mu_0|}{\sigma/\sqrt{n}} \leq z_{\alpha/2}$ and claim $H_1$ is not substantiated. Here $z_{\alpha/2}$ such that $\Phi(z_{\alpha/2})=1-({\alpha/2}).$</p>
<p>Note: We say a test is a level $\alpha$ test iff the max (or sup) of its probability of Type I error $\leq \alpha$.</p>
<h2 id="normal-with-unknown-variance"><a href="#normal-with-unknown-variance" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>Normal with unknown variance</h2>
<p>Let $X_1, \cdots, X_n \sim_{iid} N(\mu, \sigma^2)$ with $\mu \in \mathcal{R}$  and  $\sigma^2&gt;0$, both unknown.</p>
<p>For testing $H_0: \mu=\mu_0$ vs. $H_1: \mu \neq \mu_0$</p>
<p>A level  $\alpha$ test is to</p>
<p>Reject $H_0$ if $\frac{|\bar{X}- \mu_0|}{S/\sqrt{n}} &gt; t_{n-1, \alpha/2}$ and claim $H_1$ is supported by data; else</p>
<p>Do not reject $H_0$ if $\frac{|\bar{X}- \mu_0|}{S/\sqrt{n}} \leq t_{n-1, \alpha/2}$ and claim $H_1$ is not substantiated.</p>
<p>Here $t_{n-1, \alpha/2} $ such that $P(T_{n-1} \leq t_{n-1, \alpha/2})=1-({\alpha/2})$ and $T_{n-1} \sim t_{(n-1)} $, a $t$ random variable with $(n-1)$ degrees of freedom; $S^2= \frac{1}{n-1}\sum_{i=1}^n (X_i - \bar{X})^2, S = \sqrt{S^2}$.</p>
<h2 id="bernoulli-p"><a href="#bernoulli-p" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>Bernoulli $p$</h2>
<p>Let $X_1, \cdots, X_n \sim_{iid} Bernoulli(p)$ with $p \in [0,1]$
For testing $H_0: p=p_0$ vs. $H_1: p \neq p_0$</p>
<p>An <em>approximate</em> level  $\alpha$ test is to</p>
<p>Reject $H_0$ if $\frac{|\bar{X}- p_0|}{\sqrt{p_0 (1-p_0)}/\sqrt{n}} &gt; z_{\alpha/2}$ and claim $H_1$ is supported by data; else</p>
<p>Do not reject $H_0$ if $\frac{|\bar{X}- p_0|}{\sqrt{p_0(1-p_0)}/\sqrt{n}} \leq z_{\alpha/2}$ and claim $H_1$ is not substantiated. Here $z_{\alpha/2}$ such that $\Phi(z_{\alpha/2})=1-({\alpha/2}).$</p>
<h4 id="normal-cutoff-point-z_alpha2"><a href="#normal-cutoff-point-z_alpha2" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>Normal cutoff point $z_{\alpha/2}$</h4>
<ul>
<li><a href="https://www.wolframalpha.com/input/?i=normal+cutoff+point" target="_blank" rel="noopener">Normal cutoff point</a>: $x$ st. $P(Z&lt;x)=\Phi(z_{\alpha/2}).$</li>
<li><a href="https://www.wolframalpha.com/input/?i=N%280%2C+1%29" target="_blank" rel="noopener">Standard Normal</a> $Z \sim N(0, 1)$.</li>
<li>偏差值 30 到底是怎樣？</li>
</ul>
<h3 id="延伸閱讀"><a href="#延伸閱讀" class="anchor-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon anchor-icon"><path d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z"/></svg></a>延伸閱讀</h3>
<p>Textbook: Sec. 26.1, Sec. 26.2.</p>
<p>Tsao, C.A. (2016). <a href="http://jcsa.stat.org.tw/getfile.asp?artid=2612" target="_blank" rel="noopener">超譯統計</a>。中國統計學報；54卷2期, P79 - 90。</p>
<p>私下也認識這位作者，喜歡用不同的方式，來說明一些高冷的數學/統計概念並相信這樣做有些意義。這類的事情吃力不討好，他也做了一些。至於到底做得如何，讀者自有判斷。有意見也可和我說，我會轉達 ：）</p>

            </div>

            
    
    
        <ul class="post-copyright">
            <li class="copyright-item author"><span class="copyright-item-text">Author</span>: <a href="https://chtsao.gitlab.io/stat23/" class="p-author h-card" target="_blank" rel="noopener">Kno Tsao</a></li>
            
                
                
                
                
                <li class="copyright-item link"><span class="copyright-item-text">Link</span>: <a href="/stat23/posts/w14b/" target="_blank" rel="noopener">https://chtsao.gitlab.io/stat23/posts/w14b/</a></li>
            
            <li class="copyright-item license"><span class="copyright-item-text">License</span>: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a></li>
            
        </ul>
    



        </article>

        

        
    <div class="updated-badge-container">
        <span title="Updated @ 2023-05-17 07:29:27 CST" style="cursor:help">

<svg xmlns="http://www.w3.org/2000/svg" width="130" height="20" class="updated-badge"><linearGradient id="b" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="a"><rect width="130" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#a)"><path class="updated-badge-left" d="M0 0h55v20H0z"/><path class="updated-badge-right" d="M55 0h75v20H55z"/><path fill="url(#b)" d="M0 0h130v20H0z"/></g><g fill="#fff" text-anchor="middle" font-size="110"><text x="285" y="150" fill="#010101" fill-opacity=".3" textLength="450" transform="scale(.1)">updated</text><text x="285" y="140" textLength="450" transform="scale(.1)">updated</text><text x="915" y="150" fill="#010101" fill-opacity=".3" textLength="650" transform="scale(.1)">2023-05-17</text><text x="915" y="140" textLength="650" transform="scale(.1)">2023-05-17</text></g></svg>
        </span></div>



        


        <div class="post-share">

        

        <div class="share-items">

            
                <div class="share-item twitter">
                    
                    <a href="https://twitter.com/share?url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;text=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;hashtags=hypothesistesting,level,approximatelevel,standardnormal,centrallimittheorem,&amp;via=reuixiy" title="Share on Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon twitter-icon"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg></a>
                </div>
            

            
                <div class="share-item facebook">
                    
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;hashtag=%23hypothesistesting" title="Share on Facebook" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon facebook-icon"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg></a>
                </div>
            

            
                <div class="share-item linkedin">
                    
                    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;title=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;summary=%e7%95%b0%e4%b9%8b%e5%90%8c%20%e5%90%8c%e4%b9%8b%e7%95%b0%20%e6%8e%a5%e4%b8%8b%e4%be%86%e8%a6%81%e4%bb%8b%e7%b4%b9%e7%9a%84%e4%b8%89%e5%80%8b%e6%aa%a2%e5%ae%9a%e5%8f%af%e4%bb%a5%e8%aa%aa%e6%98%af%e6%a5%b5%e5%85%b7%e4%bb%a3%e8%a1%a8%e6%80%a7%e7%9a%84%e6%aa%a2%e5%ae%9a%ef%bc%8c%e4%b9%8d%e7%9c%8b%e4%b9%8b%e4%b8%8b%e5%a5%bd%e5%83%8f%e5%90%84%e4%b8%8d%e7%9b%b8%e5%90%8c%e8%80%8c%e9%9b%9c%e4%ba%82%ef%bc%8c%e4%bd%86%e5%85%b6%e5%af%a6%e6%9c%89%e5%85%b1%e5%90%8c%e6%88%96%e9%a1%9e%e4%bc%bc%e4%b9%8b%e8%99%95%e3%80%82%e7%9c%8b%e6%b8%85%e6%a5%9a%e4%bb%80%e9%ba%bc%e7%9b%b8%e5%90%8c%ef%bc%8c%e5%93%aa%e4%ba%9b%e4%b8%8d%e4%b8%80%e6%a8%a3%ef%bc%8c%e5%8f%a6%e5%a4%96%e6%9c%89%e4%ba%9b%e5%b7%ae%e4%b8%8d%e5%a4%9a%ef%bc%8c%e4%bb%96%e5%80%91%e5%b0%b1%e6%98%af%e5%a4%9a%e8%80%8c%e4%b8%80%ef%bc%8c%e4%b8%80%e8%80%8c%e5%a4%9a%ef%bc%8c%e4%ba%82%e4%b8%ad%e6%9c%89%e5%ba%8f%e8%80%8c%e8%87%aa%e6%9c%89%e7%b3%bb%e7%b5%b1%e3%80%82%e6%8f%90%e7%a4%ba%e5%b9%be%e5%80%8b%e7%95%b0%e5%90%8c%e7%9a%84%e9%87%8d%e9%bb%9e%0a%e5%90%8c%20%e9%83%bd%e6%98%af%e6%aa%a2%e5%ae%9a%20population%20mean%20$E%28X_i%29$,%20normal%20%e6%99%82%20$%5cmu$%ef%bc%8cBernoulli%20%e6%99%82%20p%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e9%83%bd%e6%98%af%20$%5cfrac%7b%7c%5cbar%7bX%7d-%20E%28%5cbar%7bX%7d%29%7c%7d%7b%5csqrt%7bVar%28%5cbar%7bX%7d%29%7d%7d$%20%e7%9a%84%e8%ae%8a%e5%bd%a2%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e7%9a%84%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%e9%83%bd%e7%9b%b8%e7%95%b6%e7%9b%b4%e8%a6%ba:%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e5%80%bc%e8%b6%8a%e5%a4%a7%e7%95%b6%e7%84%b6%e8%a1%a8%e7%a4%ba%20$H_0$%20%e8%b6%8a%e4%b8%8d%e5%a4%aa%e5%8f%af%e8%83%bd%e6%98%af%e5%b0%8d%e7%9a%84%e3%80%82%20%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e6%98%af%e5%9c%a8%e4%b8%80%e8%88%ac%e6%b8%ac%e9%87%8f%e7%9a%84%e5%b0%ba%e5%ba%a6%e4%b8%8b%e7%9a%84%e5%b7%ae%e7%95%b0%ef%bc%9b%e9%99%a4%e4%b8%8a%e5%88%86%e6%af%8d%e4%b9%8b%e5%be%8c%e7%9a%84%e6%aa%a2%e5%ae%9a%e9%87%8f%e6%98%af%e5%9c%a8%20%e6%a8%99%e6%ba%96%e5%b8%b8%e6%85%8b%20%e5%b0%ba%e5%ba%a6%e4%b8%8a%e7%9a%84%e5%b7%ae%e7%95%b0%20%e7%95%b0%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e6%af%8d%20$Var%28%5cbar%7bX%7d%29$%20%e8%99%95%e7%90%86%e4%b8%8d%e5%90%8c%20Under%20$H_0,$%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e9%85%8d%e4%b8%8d%e5%90%8c%e3%80%82%e4%be%9d%e5%ba%8f%e7%82%ba%20$Z,%20t_%7b%7bn-1%7d%7d$%20and%20approximately%20$Z$.&amp;source=Stat%202023" title="Share on LinkedIn" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon linkedin-icon"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg></a>
                </div>
            

            
                <div class="share-item telegram">
                    
                    <a href="https://t.me/share/url?url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;text=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z" title="Share on Telegram" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="icon telegram-icon"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"/></svg></a>
                </div>
            

            
                <div class="share-item weibo">
                    
                    <a href="https://service.weibo.com/share/share.php?&amp;url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;title=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;pic=https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png&amp;searchPic=false" title="Share on Weibo" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon weibo-icon"><path d="M407 177.6c7.6-24-13.4-46.8-37.4-41.7-22 4.8-28.8-28.1-7.1-32.8 50.1-10.9 92.3 37.1 76.5 84.8-6.8 21.2-38.8 10.8-32-10.3zM214.8 446.7C108.5 446.7 0 395.3 0 310.4c0-44.3 28-95.4 76.3-143.7C176 67 279.5 65.8 249.9 161c-4 13.1 12.3 5.7 12.3 6 79.5-33.6 140.5-16.8 114 51.4-3.7 9.4 1.1 10.9 8.3 13.1 135.7 42.3 34.8 215.2-169.7 215.2zm143.7-146.3c-5.4-55.7-78.5-94-163.4-85.7-84.8 8.6-148.8 60.3-143.4 116s78.5 94 163.4 85.7c84.8-8.6 148.8-60.3 143.4-116zM347.9 35.1c-25.9 5.6-16.8 43.7 8.3 38.3 72.3-15.2 134.8 52.8 111.7 124-7.4 24.2 29.1 37 37.4 12 31.9-99.8-55.1-195.9-157.4-174.3zm-78.5 311c-17.1 38.8-66.8 60-109.1 46.3-40.8-13.1-58-53.4-40.3-89.7 17.7-35.4 63.1-55.4 103.4-45.1 42 10.8 63.1 50.2 46 88.5zm-86.3-30c-12.9-5.4-30 .3-38 12.9-8.3 12.9-4.3 28 8.6 34 13.1 6 30.8.3 39.1-12.9 8-13.1 3.7-28.3-9.7-34zm32.6-13.4c-5.1-1.7-11.4.6-14.3 5.4-2.9 5.1-1.4 10.6 3.7 12.9 5.1 2 11.7-.3 14.6-5.4 2.8-5.2 1.1-10.9-4-12.9z"/></svg></a>
                </div>
            

            
                <div class="share-item douban">
                    
                    <a href="https://www.douban.com/share/service?href=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;name=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;text=%e7%95%b0%e4%b9%8b%e5%90%8c%20%e5%90%8c%e4%b9%8b%e7%95%b0%20%e6%8e%a5%e4%b8%8b%e4%be%86%e8%a6%81%e4%bb%8b%e7%b4%b9%e7%9a%84%e4%b8%89%e5%80%8b%e6%aa%a2%e5%ae%9a%e5%8f%af%e4%bb%a5%e8%aa%aa%e6%98%af%e6%a5%b5%e5%85%b7%e4%bb%a3%e8%a1%a8%e6%80%a7%e7%9a%84%e6%aa%a2%e5%ae%9a%ef%bc%8c%e4%b9%8d%e7%9c%8b%e4%b9%8b%e4%b8%8b%e5%a5%bd%e5%83%8f%e5%90%84%e4%b8%8d%e7%9b%b8%e5%90%8c%e8%80%8c%e9%9b%9c%e4%ba%82%ef%bc%8c%e4%bd%86%e5%85%b6%e5%af%a6%e6%9c%89%e5%85%b1%e5%90%8c%e6%88%96%e9%a1%9e%e4%bc%bc%e4%b9%8b%e8%99%95%e3%80%82%e7%9c%8b%e6%b8%85%e6%a5%9a%e4%bb%80%e9%ba%bc%e7%9b%b8%e5%90%8c%ef%bc%8c%e5%93%aa%e4%ba%9b%e4%b8%8d%e4%b8%80%e6%a8%a3%ef%bc%8c%e5%8f%a6%e5%a4%96%e6%9c%89%e4%ba%9b%e5%b7%ae%e4%b8%8d%e5%a4%9a%ef%bc%8c%e4%bb%96%e5%80%91%e5%b0%b1%e6%98%af%e5%a4%9a%e8%80%8c%e4%b8%80%ef%bc%8c%e4%b8%80%e8%80%8c%e5%a4%9a%ef%bc%8c%e4%ba%82%e4%b8%ad%e6%9c%89%e5%ba%8f%e8%80%8c%e8%87%aa%e6%9c%89%e7%b3%bb%e7%b5%b1%e3%80%82%e6%8f%90%e7%a4%ba%e5%b9%be%e5%80%8b%e7%95%b0%e5%90%8c%e7%9a%84%e9%87%8d%e9%bb%9e%0a%e5%90%8c%20%e9%83%bd%e6%98%af%e6%aa%a2%e5%ae%9a%20population%20mean%20$E%28X_i%29$,%20normal%20%e6%99%82%20$%5cmu$%ef%bc%8cBernoulli%20%e6%99%82%20p%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e9%83%bd%e6%98%af%20$%5cfrac%7b%7c%5cbar%7bX%7d-%20E%28%5cbar%7bX%7d%29%7c%7d%7b%5csqrt%7bVar%28%5cbar%7bX%7d%29%7d%7d$%20%e7%9a%84%e8%ae%8a%e5%bd%a2%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e7%9a%84%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%e9%83%bd%e7%9b%b8%e7%95%b6%e7%9b%b4%e8%a6%ba:%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e5%80%bc%e8%b6%8a%e5%a4%a7%e7%95%b6%e7%84%b6%e8%a1%a8%e7%a4%ba%20$H_0$%20%e8%b6%8a%e4%b8%8d%e5%a4%aa%e5%8f%af%e8%83%bd%e6%98%af%e5%b0%8d%e7%9a%84%e3%80%82%20%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e6%98%af%e5%9c%a8%e4%b8%80%e8%88%ac%e6%b8%ac%e9%87%8f%e7%9a%84%e5%b0%ba%e5%ba%a6%e4%b8%8b%e7%9a%84%e5%b7%ae%e7%95%b0%ef%bc%9b%e9%99%a4%e4%b8%8a%e5%88%86%e6%af%8d%e4%b9%8b%e5%be%8c%e7%9a%84%e6%aa%a2%e5%ae%9a%e9%87%8f%e6%98%af%e5%9c%a8%20%e6%a8%99%e6%ba%96%e5%b8%b8%e6%85%8b%20%e5%b0%ba%e5%ba%a6%e4%b8%8a%e7%9a%84%e5%b7%ae%e7%95%b0%20%e7%95%b0%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e6%af%8d%20$Var%28%5cbar%7bX%7d%29$%20%e8%99%95%e7%90%86%e4%b8%8d%e5%90%8c%20Under%20$H_0,$%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e9%85%8d%e4%b8%8d%e5%90%8c%e3%80%82%e4%be%9d%e5%ba%8f%e7%82%ba%20$Z,%20t_%7b%7bn-1%7d%7d$%20and%20approximately%20$Z$." title="Share on Douban" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon douban-icon"><path d="M.643.92v2.412h22.714V.92H.643zm1.974 4.926v9.42h18.764v-9.42H2.617zm2.72 2.408H18.69v4.605H5.338V8.254zm1.657 7.412l-2.512.938c1.037 1.461 1.87 2.825 2.512 4.091H0v2.385h24v-2.385h-6.678c.818-1.176 1.589-2.543 2.303-4.091l-2.73-.938a29.952 29.952 0 01-2.479 5.03h-4.75c-.786-1.962-1.677-3.641-2.672-5.03Z"/></svg></a>
                </div>
            

            
                <div class="share-item qq">
                    
                    <a href="https://connect.qq.com/widget/shareqq/index.html?url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;title=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;summary=%e7%95%b0%e4%b9%8b%e5%90%8c%20%e5%90%8c%e4%b9%8b%e7%95%b0%20%e6%8e%a5%e4%b8%8b%e4%be%86%e8%a6%81%e4%bb%8b%e7%b4%b9%e7%9a%84%e4%b8%89%e5%80%8b%e6%aa%a2%e5%ae%9a%e5%8f%af%e4%bb%a5%e8%aa%aa%e6%98%af%e6%a5%b5%e5%85%b7%e4%bb%a3%e8%a1%a8%e6%80%a7%e7%9a%84%e6%aa%a2%e5%ae%9a%ef%bc%8c%e4%b9%8d%e7%9c%8b%e4%b9%8b%e4%b8%8b%e5%a5%bd%e5%83%8f%e5%90%84%e4%b8%8d%e7%9b%b8%e5%90%8c%e8%80%8c%e9%9b%9c%e4%ba%82%ef%bc%8c%e4%bd%86%e5%85%b6%e5%af%a6%e6%9c%89%e5%85%b1%e5%90%8c%e6%88%96%e9%a1%9e%e4%bc%bc%e4%b9%8b%e8%99%95%e3%80%82%e7%9c%8b%e6%b8%85%e6%a5%9a%e4%bb%80%e9%ba%bc%e7%9b%b8%e5%90%8c%ef%bc%8c%e5%93%aa%e4%ba%9b%e4%b8%8d%e4%b8%80%e6%a8%a3%ef%bc%8c%e5%8f%a6%e5%a4%96%e6%9c%89%e4%ba%9b%e5%b7%ae%e4%b8%8d%e5%a4%9a%ef%bc%8c%e4%bb%96%e5%80%91%e5%b0%b1%e6%98%af%e5%a4%9a%e8%80%8c%e4%b8%80%ef%bc%8c%e4%b8%80%e8%80%8c%e5%a4%9a%ef%bc%8c%e4%ba%82%e4%b8%ad%e6%9c%89%e5%ba%8f%e8%80%8c%e8%87%aa%e6%9c%89%e7%b3%bb%e7%b5%b1%e3%80%82%e6%8f%90%e7%a4%ba%e5%b9%be%e5%80%8b%e7%95%b0%e5%90%8c%e7%9a%84%e9%87%8d%e9%bb%9e%0a%e5%90%8c%20%e9%83%bd%e6%98%af%e6%aa%a2%e5%ae%9a%20population%20mean%20$E%28X_i%29$,%20normal%20%e6%99%82%20$%5cmu$%ef%bc%8cBernoulli%20%e6%99%82%20p%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e9%83%bd%e6%98%af%20$%5cfrac%7b%7c%5cbar%7bX%7d-%20E%28%5cbar%7bX%7d%29%7c%7d%7b%5csqrt%7bVar%28%5cbar%7bX%7d%29%7d%7d$%20%e7%9a%84%e8%ae%8a%e5%bd%a2%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e7%9a%84%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%e9%83%bd%e7%9b%b8%e7%95%b6%e7%9b%b4%e8%a6%ba:%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e5%80%bc%e8%b6%8a%e5%a4%a7%e7%95%b6%e7%84%b6%e8%a1%a8%e7%a4%ba%20$H_0$%20%e8%b6%8a%e4%b8%8d%e5%a4%aa%e5%8f%af%e8%83%bd%e6%98%af%e5%b0%8d%e7%9a%84%e3%80%82%20%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e6%98%af%e5%9c%a8%e4%b8%80%e8%88%ac%e6%b8%ac%e9%87%8f%e7%9a%84%e5%b0%ba%e5%ba%a6%e4%b8%8b%e7%9a%84%e5%b7%ae%e7%95%b0%ef%bc%9b%e9%99%a4%e4%b8%8a%e5%88%86%e6%af%8d%e4%b9%8b%e5%be%8c%e7%9a%84%e6%aa%a2%e5%ae%9a%e9%87%8f%e6%98%af%e5%9c%a8%20%e6%a8%99%e6%ba%96%e5%b8%b8%e6%85%8b%20%e5%b0%ba%e5%ba%a6%e4%b8%8a%e7%9a%84%e5%b7%ae%e7%95%b0%20%e7%95%b0%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e6%af%8d%20$Var%28%5cbar%7bX%7d%29$%20%e8%99%95%e7%90%86%e4%b8%8d%e5%90%8c%20Under%20$H_0,$%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e9%85%8d%e4%b8%8d%e5%90%8c%e3%80%82%e4%be%9d%e5%ba%8f%e7%82%ba%20$Z,%20t_%7b%7bn-1%7d%7d$%20and%20approximately%20$Z$.&amp;pics=https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png&amp;site=Stat%202023" title="Share on QQ" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon qq-icon"><path d="M433.754 420.445c-11.526 1.393-44.86-52.741-44.86-52.741 0 31.345-16.136 72.247-51.051 101.786 16.842 5.192 54.843 19.167 45.803 34.421-7.316 12.343-125.51 7.881-159.632 4.037-34.122 3.844-152.316 8.306-159.632-4.037-9.045-15.25 28.918-29.214 45.783-34.415-34.92-29.539-51.059-70.445-51.059-101.792 0 0-33.334 54.134-44.859 52.741-5.37-.65-12.424-29.644 9.347-99.704 10.261-33.024 21.995-60.478 40.144-105.779C60.683 98.063 108.982.006 224 0c113.737.006 163.156 96.133 160.264 214.963 18.118 45.223 29.912 72.85 40.144 105.778 21.768 70.06 14.716 99.053 9.346 99.704z"/></svg></a>
                </div>
            

            
                <div class="share-item qzone">
                    
                    <a href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://chtsao.gitlab.io/stat23/posts/w14b/&amp;title=Week%2014b.%20Hypothesis%20Testing%20II:%20Z,%20t%20and%20approximately%20Z&amp;summary=%e7%95%b0%e4%b9%8b%e5%90%8c%20%e5%90%8c%e4%b9%8b%e7%95%b0%20%e6%8e%a5%e4%b8%8b%e4%be%86%e8%a6%81%e4%bb%8b%e7%b4%b9%e7%9a%84%e4%b8%89%e5%80%8b%e6%aa%a2%e5%ae%9a%e5%8f%af%e4%bb%a5%e8%aa%aa%e6%98%af%e6%a5%b5%e5%85%b7%e4%bb%a3%e8%a1%a8%e6%80%a7%e7%9a%84%e6%aa%a2%e5%ae%9a%ef%bc%8c%e4%b9%8d%e7%9c%8b%e4%b9%8b%e4%b8%8b%e5%a5%bd%e5%83%8f%e5%90%84%e4%b8%8d%e7%9b%b8%e5%90%8c%e8%80%8c%e9%9b%9c%e4%ba%82%ef%bc%8c%e4%bd%86%e5%85%b6%e5%af%a6%e6%9c%89%e5%85%b1%e5%90%8c%e6%88%96%e9%a1%9e%e4%bc%bc%e4%b9%8b%e8%99%95%e3%80%82%e7%9c%8b%e6%b8%85%e6%a5%9a%e4%bb%80%e9%ba%bc%e7%9b%b8%e5%90%8c%ef%bc%8c%e5%93%aa%e4%ba%9b%e4%b8%8d%e4%b8%80%e6%a8%a3%ef%bc%8c%e5%8f%a6%e5%a4%96%e6%9c%89%e4%ba%9b%e5%b7%ae%e4%b8%8d%e5%a4%9a%ef%bc%8c%e4%bb%96%e5%80%91%e5%b0%b1%e6%98%af%e5%a4%9a%e8%80%8c%e4%b8%80%ef%bc%8c%e4%b8%80%e8%80%8c%e5%a4%9a%ef%bc%8c%e4%ba%82%e4%b8%ad%e6%9c%89%e5%ba%8f%e8%80%8c%e8%87%aa%e6%9c%89%e7%b3%bb%e7%b5%b1%e3%80%82%e6%8f%90%e7%a4%ba%e5%b9%be%e5%80%8b%e7%95%b0%e5%90%8c%e7%9a%84%e9%87%8d%e9%bb%9e%0a%e5%90%8c%20%e9%83%bd%e6%98%af%e6%aa%a2%e5%ae%9a%20population%20mean%20$E%28X_i%29$,%20normal%20%e6%99%82%20$%5cmu$%ef%bc%8cBernoulli%20%e6%99%82%20p%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e9%83%bd%e6%98%af%20$%5cfrac%7b%7c%5cbar%7bX%7d-%20E%28%5cbar%7bX%7d%29%7c%7d%7b%5csqrt%7bVar%28%5cbar%7bX%7d%29%7d%7d$%20%e7%9a%84%e8%ae%8a%e5%bd%a2%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e7%9a%84%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%e9%83%bd%e7%9b%b8%e7%95%b6%e7%9b%b4%e8%a6%ba:%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e5%80%bc%e8%b6%8a%e5%a4%a7%e7%95%b6%e7%84%b6%e8%a1%a8%e7%a4%ba%20$H_0$%20%e8%b6%8a%e4%b8%8d%e5%a4%aa%e5%8f%af%e8%83%bd%e6%98%af%e5%b0%8d%e7%9a%84%e3%80%82%20%e5%88%86%e5%ad%90%e9%83%a8%e4%bb%bd%20$%7c%5chat%7b%5cmu%7d%20-%20%5cmu_0%7c$%20or%20$%7c%5chat%7bp%7d%20-%20p_0%7c$%20%e6%98%af%e5%9c%a8%e4%b8%80%e8%88%ac%e6%b8%ac%e9%87%8f%e7%9a%84%e5%b0%ba%e5%ba%a6%e4%b8%8b%e7%9a%84%e5%b7%ae%e7%95%b0%ef%bc%9b%e9%99%a4%e4%b8%8a%e5%88%86%e6%af%8d%e4%b9%8b%e5%be%8c%e7%9a%84%e6%aa%a2%e5%ae%9a%e9%87%8f%e6%98%af%e5%9c%a8%20%e6%a8%99%e6%ba%96%e5%b8%b8%e6%85%8b%20%e5%b0%ba%e5%ba%a6%e4%b8%8a%e7%9a%84%e5%b7%ae%e7%95%b0%20%e7%95%b0%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e6%af%8d%20$Var%28%5cbar%7bX%7d%29$%20%e8%99%95%e7%90%86%e4%b8%8d%e5%90%8c%20Under%20$H_0,$%20%e6%aa%a2%e5%ae%9a%e9%87%8f%e5%88%86%e9%85%8d%e4%b8%8d%e5%90%8c%e3%80%82%e4%be%9d%e5%ba%8f%e7%82%ba%20$Z,%20t_%7b%7bn-1%7d%7d$%20and%20approximately%20$Z$.&amp;pics=https://ibuyessayonline.com/wp-content/uploads/Compare-and-Contrast-Essay-Topics.png&amp;site=Stat%202023" title="Share on Qzone" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon qzone-icon"><path d="M23.985 9.202c-.032-.099-.127-.223-.334-.258-.207-.036-7.351-1.406-7.351-1.406s-.105-.022-.198-.07c-.092-.047-.127-.167-.127-.167S12.447.956 12.349.77C12.25.583 12.104.532 12 .532c-.104 0-.251.051-.349.238-.098.186-3.626 6.531-3.626 6.531s-.035.12-.128.167c-.092.047-.197.07-.197.07S.556 8.908.348 8.943c-.208.036-.302.16-.333.258a.477.477 0 0 0 .125.449l5.362 5.49s.072.08.119.172c.016.104.005.21.005.21s-1.189 7.242-1.22 7.45.075.369.159.43c.083.062.233.106.421.013.189-.093 6.812-3.261 6.812-3.261s.098-.044.201-.061c.103-.017.201.061.201.061s6.623 3.168 6.812 3.261c.188.094.338.049.421-.013a.463.463 0 0 0 .159-.43c-.021-.14-.93-5.677-.93-5.677.876-.54 1.425-1.039 1.849-1.747-2.594.969-6.006 1.717-9.415 1.866-.915.041-2.41.097-3.473-.015-.678-.071-1.17-.144-1.243-.438-.053-.215.054-.46.545-.831a2640.5 2640.5 0 0 1 2.861-2.155c1.285-.968 3.559-2.47 3.559-2.731 0-.285-2.144-.781-4.037-.781-1.945 0-2.275.132-2.811.168-.488.034-.769.005-.804-.138-.06-.248.183-.389.588-.568.709-.314 1.86-.594 1.984-.626.194-.052 3.082-.805 5.618-.535 1.318.14 3.244.668 3.244 1.276 0 .342-1.721 1.494-3.225 2.597-1.149.843-2.217 1.561-2.217 1.688 0 .342 3.533 1.241 6.689 1.01l.003-.022c.048-.092.119-.172.119-.172l5.362-5.49a.477.477 0 0 0 .127-.449z"/></svg></a>
                </div>
            

            
                <div class="share-item qrcode">
                    <div class="qrcode-container" title="Share via QR Code"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon qrcode-icon"><path d="M0 224h192V32H0v192zM64 96h64v64H64V96zm192-64v192h192V32H256zm128 128h-64V96h64v64zM0 480h192V288H0v192zm64-128h64v64H64v-64zm352-64h32v128h-96v-32h-32v96h-64V288h96v32h64v-32zm0 160h32v32h-32v-32zm-64 0h32v32h-32v-32z"/></svg><div id="qrcode-img"></div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/qrcode-generator@1.4.4/qrcode.min.js"></script>

<script>
    const typeNumber = 0;
    const errorCorrectionLevel = 'L';
    const qr = qrcode(typeNumber, errorCorrectionLevel);
    qr.addData('https:\/\/chtsao.gitlab.io\/stat23\/posts\/w14b\/');
    qr.make();
    document.getElementById('qrcode-img').innerHTML = qr.createImgTag();
</script>

                </div>
            

        </div>

    </div>




        
    
    
        <div class="related-posts">
            <h2 class="related-title">See Also:<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon related-icon"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"/></svg></h2>
            <ul class="related-list">
                
                    <li class="related-item">
                        <a href="/stat23/posts/w14/" class="related-link">Week 14. Hypothesis Testing I: Questions, Concerns and Formulation</a>
                    </li>
                
                    <li class="related-item">
                        <a href="/stat23/posts/w12/" class="related-link">Week 12. Approximate CI for Bernoulli Mean</a>
                    </li>
                
                    <li class="related-item">
                        <a href="/stat23/posts/w11/" class="related-link">Week 11. Confidence Interval for Normal Mean</a>
                    </li>
                
            </ul>
        </div>
    



        
    
        <div class="post-tags">
            
                
                
                
                
                    
                    <a href="/stat23/tags/hypothesis-testing/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>hypothesis testing</a>
                
            
                
                
                
                
                    
                    <a href="/stat23/tags/level/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>level</a>
                
            
                
                
                
                
                    
                    <a href="/stat23/tags/approximate-level/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>approximate level</a>
                
            
                
                
                
                
                    
                    <a href="/stat23/tags/standard-normal/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>standard normal</a>
                
            
                
                
                
                
                    
                    <a href="/stat23/tags/central-limit-theorem/" rel="tag" class="post-tags-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon tag-icon"><path d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"/></svg>central limit theorem</a>
                
            
        </div>
    



        


        


        
    
        
        
    
    
    
    
        <ul class="post-nav">
            
                <li class="post-nav-prev">
                    <a href="/stat23/posts/w15a/" rel="prev">&lt; Week 15. One-Sided Hypothesis Tests I</a>
                </li>
            
            
                <li class="post-nav-next">
                    <a href="/stat23/posts/w14/" rel="next">Week 14. Hypothesis Testing I: Questions, Concerns and Formulation &gt;</a>
                </li>
            
        </ul>
    



        


    </div>
</main>


            
    <div id="back-to-top" class="back-to-top">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="icon arrow-up"><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg></a>
    </div>


            
    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="site-info">©&nbsp;1969–2023&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon footer-icon"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>&nbsp;Kno Tsao</div><div class="powered-by">Powered by <a href="https://github.com/gohugoio/hugo" target="_blank" rel="noopener">Hugo</a> | Theme is <a href="https://github.com/reuixiy/hugo-theme-meme" target="_blank" rel="noopener">MemE</a></div><div class="site-copyright"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a></div>

            
    
        <ul class="socials"><li class="socials-item">
                    <a href="/rss.xml" target="_blank" rel="external noopener" title="RSS"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon social-icon"><path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/></svg></a>
                </li><li class="socials-item">
                    <a href="mailto:reuixiy@gmail.com" target="_blank" rel="external noopener" title="Email"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon social-icon"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg></a>
                </li><li class="socials-item">
                    <a href="https://github.com/reuixiy" target="_blank" rel="external noopener" title="GitHub"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon social-icon"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg></a>
                </li><li class="socials-item">
                    <a href="https://twitter.com/reuixiy" target="_blank" rel="external noopener" title="Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon social-icon"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg></a>
                </li><li class="socials-item">
                    <a href="https://t.me/yixiuer" target="_blank" rel="external noopener" title="Telegram"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="icon social-icon"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"/></svg></a>
                </li></ul>
    



            
        </div>
    </footer>


        </div>
        

        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.0/dist/katex.min.css">
<script>
    if (typeof renderMathInElement === 'undefined') {
        const getScript = (options) => {
            const script = document.createElement('script');
            script.defer = true;
            script.crossOrigin = 'anonymous';
            Object.keys(options).forEach((key) => {
                script[key] = options[key];
            });
            document.body.appendChild(script);
        };
        getScript({
            src: 'https:\/\/cdn.jsdelivr.net\/npm\/katex@0.13.0\/dist\/katex.min.js',
            onload: () => {
                getScript({
                    src: 'https:\/\/cdn.jsdelivr.net\/npm\/katex@0.13.0\/dist\/contrib\/mhchem.min.js',
                    onload: () => {
                        getScript({
                            src: 'https:\/\/cdn.jsdelivr.net\/npm\/katex@0.13.0\/dist\/contrib\/auto-render.min.js',
                            onload: () => {
                                renderKaTex();
                            }
                        });
                    }
                });
            }
        });
    } else {
        renderKaTex();
    }
    function renderKaTex() {
        renderMathInElement(
            document.body,
            {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\[", right: "\\]", display: true},
                    {left: "$", right: "$", display: false},
                    {left: "\\(", right: "\\)", display: false}
                ]
            }
        );
    }
</script>










    <script src="https://cdn.jsdelivr.net/npm/medium-zoom@latest/dist/medium-zoom.min.js"></script>

<script>
    let imgNodes = document.querySelectorAll('div.post-body img');
    imgNodes = Array.from(imgNodes).filter(node => node.parentNode.tagName !== "A");

    mediumZoom(imgNodes, {
        background: 'hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), 0.95)'
    })
</script>




    <script src="https://cdn.jsdelivr.net/npm/instant.page@5.1.0/instantpage.min.js" type="module" defer></script>






    </body>
</html>
